@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;600;700;800;900&display=swap');

* {
  padding: 0px;
  margin: 0px;
  font-family: 'Heebo';
}

/* common */
.app {
  display: flex;
  flex-direction: column;
  background-color: #999;
  min-width: 100vw;
  min-height: 100vh;
}

/* content */
.content {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  min-height: 100%;
  padding: 1rem;
}
.content-inner {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: auto;
}

/* game */
ol, ul {
  padding-left: 30px;
}

.board {
  display: flex;
  position: relative;
  justify-self: center;
  align-items: center;
  flex-direction: column;
}

.board-row {
  display: flex;
  align-items: center;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  width: 3rem;
  height: 3rem;
  padding: 0;
  text-align: center;
  z-index: 1;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  /* common */
  .app {
    display: flex;
    flex-direction: column;
    background-color: #999;
    min-width: 100vw;
    min-height: 100vh;
  }

  /* content */
  .content {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    min-height: 100%;
    padding: 1rem;
  }
  .content-inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: auto;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    /* common */
  .app {
    display: flex;
    flex-direction: column;
    background-color: #999;
    min-width: 100vw;
    min-height: 100vh;
  }

  /* content */
  .content {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    min-height: 100%;
    padding: 1rem;
  }
  .content-inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: auto;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .content-inner {
    max-width: 1366px;
  }
}